extends layout
block title-content
    title(ng-bind="title")
block header-content
    div(class="header")
        div(class="container-fluid")
            div(class="navbar-header")
                button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuitems")
                    span(class="sr-only")
                        Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
            div(class="collapse navbar-collapse" id="menuitems")
                ul(class="nav navbar-nav navbar-right")
                    li
                        a(class="headerlink") About
                    li
                        a(class="headerlink") Contact
                    li
                        a(class="headerlink") Explore
block main-content
    div(ng-view class="body row")
block footer-content
    div(class="footer")