html, body {
    height: 100%;
}
.main_wrapper {
    min-height: calc(100% - 100px);
    /*position: relative;*/
}
.header {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.header div {
    margin: 0;
}

.header .icon-bar {
    background-color: #000;
}
.header li .headerlink {
    text-decoration: none;
    padding: 10px;
    color: #000;

    border-style: solid;
    border-width: 0;
    border-bottom-width: 5px;
    border-bottom-color: #fff;

    cursor: pointer;
}

.header li .headerlink:hover {
    background-color: #ffffff;
    border-bottom-color: blue;
}

.footer {
    background-color: #000;
    height: 100px;
    left: 0;
}
.body {
    padding: 100px 50px 100px 50px;
    z-index: -1;
}